.card-artist__Container {
	color: black;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	margin-top: 0;
	display: flex;
}

.card-artist__NomeObra {
	font-size: 18px;
	font-weight: 650;
	margin-left: 0.5rem;
}
